
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<div class="groupentry">

  <%= hidden_field_tag "disk_image_config[disk_image_bourreau_id]", @disk_image_config.disk_image_bourreau_id %>
  <%= hidden_field_tag "disk_image_config[bourreau_id]", @disk_image_config.bourreau_id %>

  <% if @disk_image_config.disk_image_bourreau_id && @disk_image_config.bourreau_id %>

  <span title="Image id to use on cloud bourreau #{@disk_image_config.bourreau.name}">
    <span title="Disk image.">
      <p><%= f.label :disk_image_id, "Disk image" %><br/>	
      <%=
         bourreau = Bourreau.find(@disk_image_config.bourreau.id)
         images = Kernel.const_get(bourreau.cms_class).new.get_available_disk_images(bourreau)
         f.select :disk_image_id, images %>
    <div class="field_explanation">Disk image used to create VMs in
    the cloud provider.</div>
    </p>
    </span>
    <span title="User name.">
    <p><%= f.label :user_name, "User name" %><br/>
    <%= f.text_field :user_name %>
    <div class="field_explanation">User name used to login to the VMs.</div>
    </p>
    </span>
    <span title="SSH key pair.">
    <p><%= f.label :ssh_key_pair, "SSH key pair" %><br/>
      <%=
         bourreau = Bourreau.find(@disk_image_config.bourreau.id)
         keys = Kernel.const_get(bourreau.cms_class).new.get_available_key_pairs(bourreau)
         f.select :ssh_key_pair, keys %>
    <div class="field_explanation">Key pair used to login to the
    VMs. The list of key pairs is configured in the cloud
    provider.</div>
    </p>
    </span>
    <span title="SSH tunnel port.">
    <p><%= f.label :ssh_tunnel_port, "SSH tunnel port" %><br/>
    <%= f.text_field :ssh_tunnel_port %>
    <div class="field_explanation">Port used to establish a reverse
    ssh tunnel from the VMs to the Bourreau host. Used to mount task
    and data directories in the VMs using sshfs.</div>
    </p>
    </span>
    <hr/>
    <span title="Instance type.">
      <p><%= f.label :instance_type, "Instance type" %><br/>
      <%=    
         bourreau = Bourreau.find(@disk_image_config.bourreau.id)
         instance_types = Kernel.const_get(bourreau.cms_class).new.get_available_instance_types
         f.select :instance_type, instance_types.flatten %>
      <div class="field_explanation">Instance type to use for the
      VMs. Specific to the type of cloud provider.</div>
    </p>
    </span>
    <span title="Number of task slots.">
    <p><%= f.label :task_slots, "Task slots" %><br/>
    <%= f.text_field :task_slots %>
    <div class="field_explanation">Number of tasks that can run concurrently in a VM.</div>
    </p>
    </span>
    <span title="VM boot timeout.">
    <p><%= f.label :boot_timeout, "VM boot timeout" %><br/>
    <%= f.text_field :boot_timeout %>
    <div class="field_explanation">Timeout in seconds after which a
    booting VM will be terminated.</div>
    </p>
    </span>
  </span>
  <% end %>

</div>

